*{
	font-family:"tahoma";
}
body{
	background:black;
	background-image: url("res/LeagueHeader.png");
	background-size:100%;
	background-repeat: no-repeat;
	text-align:center;
}
header{
	margin:auto;
}
a{
	text-decoration:none;
}
nav{
	background:gray;
	width:100%;
	margin-bottom: 100px;
}
li{
	display:inline;
	list-style:none;
	padding:20px;
	color:#0ff;
	font-size:32px;
}
section{
	margin:auto;
	background:#000;
	max-width:1000px;
	padding:10px;
	min-height:600px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	color:white;
}
article{
	text-align:left;
	background:#444;
	padding:5px;
	margin-bottom:5px;
	color:white;
}
.AECH1{
	font-size:32px;
}
.AECH2{
	font-size:24px;
}
