*{
	font-family:"times new roman"; 
	margin:0px;

}
body{
	background:black;
	background-image: url("res/RedLolHeader.jpg");
	background-size:100% 1000px;
	background-repeat: no-repeat;
	text-align:center;
}
header{
	margin:auto;
}
p{
	font-size:17px
}
a{
	text-decoration:none;
}
a:link{
	color:red;
}
a:visited{
	color:maroon;
}
nav{
	width:100%;
	margin-bottom: 100px;
}
nav>ul>li{
	display:inline;
	list-style:none;
	padding-left:15px;
	padding-right:15px;
	color:#0ff;
	font-size:32px;
	border:black 1px solid;
	background:gray;
}
section{
	margin:auto;
	background:#000;
	width:1000px;
	padding:10px;
	min-height:600px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	color:white;
}
article{
	text-align:left;
	background:#444;
	padding:5px;
	margin-bottom:5px;
	color:white;
}
.AECH1{
	font-family: Papyrus, fantasy;
	font-size:32px;
}
.AECH2{
	font-family: Perpetua;
	font-size:24px;
}
footer{
	color:white;
	background:black;
	width:1020px;
	margin:auto;
	padding-bottom:15px;
}.kobe {
	text-align: justify;
	font-family: "Times new roman";
	font-size: 17px;
}
